
<header>
  <ul class="nav nav-tabs">
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/users">
        Usuarios
      </a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/persons">
        Personal
      </a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/deploys">
        Despliegues
      </a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/clients">
        Clientes
      </a>
    </li>
  </ul>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
