<section class="row">
  <div class="col-md-10">

    <h3 class="text-muted"> Nuevo Usuario </h3>
    <form>
      <div class="form-group">
        <label for="txtUser"> Nombre Usuario </label>
        <input type="text" class="form-control" id="txtUser" placeholder="Nombre Usuario">
      </div>
      <div class="form-group">
        <label for="txtPass"> Contraseña </label>
        <input type="password" class="form-control" id="txtPass" placeholder="Contraseña">
      </div>
      <div class="form-group">
        <button class="btn btn-success"> Crear Usuario </button>
      </div>
    </form>

    <a class='btn btn-primary' routerLink='/users'> Inicio </a>

  </div>
</section>
